{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}UENR Student Payment Portal{% endblock %}</title>
  <meta name="description" content="Pay your UENR academic and other dues online anytime, anywhere. Fast, secure and reliable.">
  <link rel="icon" href="{% static 'img/crest.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
